* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
}

.grid {
  height: 100vh;
}

.grid #grid-container {
  width: 500px;
  height: 500px;
  border: 2px solid rgb(25, 25, 25);
  border-radius: 16px;
  display: flex;
  background-color: rgb(5, 5, 5);

  justify-content: center;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}

.grid-item {
  line-height: 0;
  background-color: rgb(255, 255, 255);
}

.title {
  margin-top: 10px;
  text-align: center;
}

#buttons {
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin: 10px auto;
  padding: 0;
  border-radius: 16px;
}

.menus,
.colors {
  display: flex;
  flex: 1;
  gap: 2px;
}

.menu,
.colo {
  flex: 1;
  gap: 2px;
}

button {
  height: 40px;
  background-color: transparent;
}
